repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-xml
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [ "--profile", "black" ]
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [ --config=black.toml ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        additional_dependencies: [ types-PyYAML ]
        args:
          [
            --ignore-missing-imports,
            --warn-no-return,
            --warn-redundant-casts,
          ]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 21d3c70d676007470908d39b73f0521d39b3b997
    hooks:
      - id: flake8
        additional_dependencies: [ flake8-docstrings==1.6.0 ]
