name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test_and_lint:
    name: Test and lint
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.8, 3.9, "3.10", "3.11"]
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Show OS and Python version
      run: |
        echo "OS: ${{ matrix.operating-system }}"
        echo "Python: ${{ matrix.python-version }}"
    - name: Update pip
      run: python -m pip install --upgrade pip
    - name: Install wheel
      run: python -m pip install --upgrade wheel
    - name: Install PyTorch on Linux and Windows
      if: >
        matrix.operating-system == 'ubuntu-latest' ||
        matrix.operating-system == 'windows-latest'
      run: >
        pip install torch==2.0.1 torchvision==0.15.2
        --extra-index-url https://download.pytorch.org/whl/cpu
    - name: Install PyTorch on MacOS
      if: matrix.operating-system == 'macos-latest'
      run: pip install torch==2.0.1 torchvision==0.15.2
    - name: Install dependencies
      run: pip install .[tests]
    - name: Cleanup the build directory
      uses: JesseTG/rm@v1.0.3
      with:
        path: build
    - name: Run PyTest
      run: pytest

  check_code_formatting_types:
    name: Check code formatting with Black, isort, mypy, flake8
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Update pip
      run: python -m pip install --upgrade pip
    - name: Install linters
      run: pip install -r requirements-dev.txt
    - name: Run checks on Linux and macOS
      if: matrix.operating-system == 'ubuntu-latest' || matrix.operating-system == 'macos-latest'
      run: pre-commit run --files $(find albumentations -type f)
    - name: Run checks on Windows
      if: matrix.operating-system == 'windows-latest'
      run: pre-commit run --files $(Get-ChildItem albumentations -Recurse -File | Foreach-Object { $_.FullName })
      shell: pwsh



  check_transforms_docs:
    name: Check that transforms docs are not outdated
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Update pip
      run: python -m pip install --upgrade pip
    - name: Install dependencies
      run: pip install .[develop]
    - name: Run checks
      run: python tools/make_transforms_docs.py check README.md
